.home-container {
  color: white;
}

.home-container .top {
  display: flex;
  justify-content: space-between;
  height: 52px;
}

.home-container .logo {
  background-image: url(../../../public/logo.jpg);
  width: 40px;
  height: 40px;
  background-size: 100%;
}

.home-container .connect-button {
  border-radius: 20px;
  cursor: pointer;
  padding: 3px 20px;
  color: white;
  font-size: 12px;
  background: hsla(0,0%,100%,.1);
  text-align: center;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.home-container .connect-button:hover {
  background: #5733cc;
}

.home-container .body {
  height: calc(100vh - 52px);
}

.home-container .body .content {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}

.home-container .body .content .text {
  margin-right: 1rem;
}

.home-container .body .content .input {
  display: inline-block;
    position: relative;
    width: 60%;
    height: 30px;
    color: white;
    line-height: 36px;
    text-indent: 10px;
    border-color: rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-width: 1px;
    border-radius: 4px;
    outline: none; 
    padding: 0;
}

.home-container .body .content .input:focus {
  border-color: rgba(255, 255, 255, 0.3);
}


.home-container .body .content .mint {
  width: 60%;
  font-weight: 700;
  margin: 0 auto;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background: hsla(0,0%,100%,.1);
  font-size: 20px;
  margin-top: 1rem;
}

.home-container .body .content .mint:hover {
  background: #5733cc;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer-icon {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.footer-icon:hover {
  filter: brightness(130%)
}

.icon-url {
  width: 30px;
  height: 30px;
  background-size: 100%;
}